.loginFonPage{
  background-image: url(../../../components/img/authFon.jpg);
  background-repeat: no-repeat; 
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
  text-align:center;
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  color: #FFF;
  text-shadow: -2px 0 0 #000000, 0 -2px 0 #000000, 2px 0 0 #000000, 0 2px 0 #000000, -2px -2px 0 #000000, 2px 2px 0 #000000, -2px 2px 0 #000000, 2px -2px 0 #000000;
}

.containerAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.formAuth {
  height:auto;
  width: auto;
}

.formControlAuth-select-option {
  color: #000000;
}

.formControlAuth {
  border-radius: 10px;
  text-align: center;
  max-width: 25rem;
  margin-top: 10px;
  color: #FFF;
  background:none;
}

.buttonAuth {
  cursor: pointer;
  border-radius: 5px;
}

.checkboxLogin {
  margin-top: 3%;
  text-align: left;
}

.modalFooterAuth {
  margin-top: 3%;
}

.nav-link-sign-up {
  margin-right: 8px;
  color: #FFF;
}

.nav-link-sign-up:hover {
  color: grey;
}

.input-checkbox-auth {
  margin-left: 5px;
}

.forgot-your-password-auth {
  margin-left: 1em;
  max-height: 35px;
}

.button-restore-login {
  margin-right: 5px;
}